@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form asp-action="respuesta" method="post">
    <h3>Datos Personales</h3>
    <label>Nombre Completo: <input type="text" name="nombre" /></label>
    <label>Edad: <input type="number" name="edad" min="0" max="120" required/></label>
    <label>Dni: <input type="number" name="dni" min="1000000" max="99999999" required/></label>

    <h3>Situación Laboral</h3>
    <label>¿Cuál es su situación laboral?</label>
    <select name="situacionLaboral">
        <option value="relacion de dependencia">relacion de dependencia</option>
        <option value="monotributo">monotributista</option>
        <option value="autonomo">autonomo</option>
        <option value="desempleado">desempleado</option>
    </select>

    <h3>Situación Económica</h3>
    <label>Ingreso mensual: <input type="number" name="ingreso" required/></label>

    <label>En caso de tener deudas, seleccione cuáles:</label><br />
    <input type="checkbox" name="deudas" value="tarjeta de credito" /> tarjeta de credito<br />
    <input type="checkbox" name="deudas" value="bancario" /> prestamo bancario<br />
    <input type="checkbox" name="deudas" value="informal" /> prestamo informal<br />

    <h3>Condiciones del préstamo</h3>
    <label>Monto solicitado: <input type="number" name="montoSolicitado" min="0" required/></label>
    <label>Plazo de devolución:
        <select name="plazoDevolucion">
            <option value="6">6 meses</option>
            <option value="12">12 meses</option>
            <option value="24">24 meses</option>
        </select>
    </label>

    <h3>Confirmar préstamo</h3>
    <label><input type="checkbox" name="terminosYCondiciones" /> Acepto los términos y condiciones</label><br />
    <input type="submit" value="Enviar" />
</form>
